<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdoConnectionString" value="Data Source=localhost;Initial Catalog=DNUG;Integrated Security=True;" />
    <add key="EntityFrameworkConnectionString" value="Data Source=localhost;Initial Catalog=DNUG_EF;Integrated Security=True;" />
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017/?safe=true" />
    <add key="RedisConnectionString" value="localhost:6379" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.4566" newVersion="1.5.0.4566" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.4566" newVersion="1.5.0.4566" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>